@font-face {
 font-family: "Alfphabet";
 src: url("fonts/AlfphabetIII.otf");
}

@font-face {
 font-family: "Belgika 5th";
 src: url("fonts/Belgika-5th.otf");
}

@font-face {
 font-family: "Belgika 8th";
 src: url("fonts/Belgika-8th.otf");
}

@font-face {
 font-family: "Belgika 16th";
 src: url("fonts/Belgika-16th.otf");
}

@font-face {
 font-family: "Belgika 40th";
 src: url("fonts/Belgika-40th.otf");
}

body{
  width:100%;
  height:100%;
}

a{
  color:inherit;
  text-decoration: none;
}

.entry-content p {
  font-weight: bold;
}

#post-list{
  font-size: 16pt;
}

#post-list header{
  font-family: "Belgika 8th";
  color:blue;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

#post-list footer{
   font-family: "Alfphabet";
}
